<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Writer Schedule Generator</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <script th:href="@{/webjars/jquery/3.4.0/jquery.min.js} "></script>
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" th:fragment="navbar">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a class="text-decoration-none text-dark" href="/">Writer Schedule Generator</a></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/writer">Writers</a>
            <a class="p-2 text-dark" href="/editor">Editors</a>
            <a class="p-2 text-dark" href="/schedule">Schedules</a>
        </nav>
        <a class="btn btn-outline-primary" href="/schedule/new">New Schedule</a>
    </div>
</body>
</html>