<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Writer Schedule Generator</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <script th:href="@{/webjars/jquery/3.4.0/jquery.min.js} "></script>
</head>
<body>
<div th:replace="fragments/navbar :: navbar" />

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Edit Slot</h1>

    <form th:object="${slot}" th:action="@{'/schedule/' + ${schedule.getId()} + '/slot/' + ${slot.getId()} + '/update'}" method="post" class="text-left">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p>Please correct the errors below</p>
        </div>

        <input type="hidden" th:field="*{id}"/>
        <div class="form-group" th:class="${#fields.hasErrors('date')} ? 'form-group has-error' : 'form-group'">
            <label for="date">Date</label>
            <input class="form-control" type="date" id="date" th:field="*{date}"/>
            <span th:if="${#fields.hasErrors('date')}">
                <ul class="list-group list-unstyled">
                    <li class="text-danger" th:each="err : ${#fields.errors('date')}" th:text="${err}"/>
                </ul>
            </span>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('writer')} ? 'form-group has-error' : 'form-group'">
            <label for="writer">Writer</label>
            <select class="form-control" id="writer" name="slot.writer" th:field="*{writer}">
                <option th:each="writer : ${writers}"
                        th:value="${writer.getId()}"
                        th:text="${writer.getName()}">Caleb</option>
            </select>
            <span th:if="${#fields.hasErrors('writer')}">
                <ul class="list-group list-unstyled">
                    <li class="text-danger" th:each="err : ${#fields.errors('writer')}" th:text="${err}"/>
                </ul>
            </span>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('editor')} ? 'form-group has-error' : 'form-group'">
            <label for="editor">Editor</label>
            <select class="form-control" id="editor" name="slot.editor" th:field="*{editor}">
                <option th:each="editor : ${editors}"
                        th:value="${editor.getId()}"
                        th:text="${editor.getName()}">Oliver</option>
            </select>
            <span th:if="${#fields.hasErrors('editor')}">
                <ul class="list-group list-unstyled">
                    <li class="text-danger" th:each="err : ${#fields.errors('editor')}" th:text="${err}"/>
                </ul>
            </span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>

    <span th:if="${schedule.getSlots().size() > 0}">
        <h1 class="display-4">Current Schedule</h1>
        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th>Date</th>
                <th>Writer</th>
                <th>Editor</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="slot : ${schedule.getSlots()}">
                <td th:text="${slot.getDate()}">12-10-1998</td>
                <td> <a href="#" th:href="@{'/writer/' + ${slot.getWriter().getId()}}" th:text="${slot.getWriter()}" >Caleb</a></td>
                <td th:text="${slot.getEditor()}">Oliver</td>
            </tr>
            </tbody>
        </table>
    </span>
</div>
</body>
</html>